:root {
  --color-neutral-light:#a3f975;
  --color-neutral-medium:#39b54a;
  --color-neutral-dark:#f15a24;
  --color-neutral-gold:#fbb03b;

  --color-main-light: #a3f975;
  --color-main-medium: #f15a24;
  --color-main-dark: #39b54a;

  --color-alt-light: green;
  --color-alt-medium: orange;
  --color-alt-dark: yellow;

  --color-warning: red;
  --color-error: red;
  --color-purchase: red;
  --color-add: #1a87c1;
}

body {
   font-family:Calibri, sans-serif;
   background-color:#f9f9f9;
   padding-bottom:10em;
}




.view-window>h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.3);
    padding: 1em;
    border-radius: 1em;
    color: white;
    font-size: 3em;
}

[class*='col-']>.card {
  height:100%;
  margin:0;
}


[class*='col-']>.well {
  height:100%;
}






/* Product List Design */
.product-item {
    margin: 0;
    border-radius:0em;
    background-color: var(--color-neutral-light);
    box-shadow:1px 1px 4px rgba(0,0,0,0.2);
    padding:0em;
    transition:all 0.3s;
}

.product-item1 {
    margin: 0;
    border-radius:0em;
    background-color: var(--color-neutral-medium);
    box-shadow:1px 1px 4px rgba(0,0,0,0.2);
    padding:0em;
    transition:all 0.3s;
}

.product-item:hover {
    box-shadow:1px 1px 12px rgba(0,0,0,0.4);
}

.product-image img {
   width:100%;
}

.product-price,
.product-title {
   font-weight:normal;
}

a:hover .product-item {
   text-decoration:none !important;
}

.product-price {
    font-size: 1.2em;
    padding: 0.2em 0.4em;
    float: right;
}

.product-title {
    font-size: 1.9em;
    float: right;
}




@media (max-width:600px) {
  h2 {
    font-size:1em;
  }
}